@charset "UTF-8";
.header {
    text-align: center;
    background : #6495ed;
    height: 30px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
	color:#ffffff;
    font-size: 20px;
    top : 0;
}
.Toptitle {
    float: left;
    width: 100%;
    text-align:left;
    position: absolute;
}

.Toptitle a:link {
    font-size: 13.0pt;
    font-weight: bold;
    font-family:Verdana, “游ゴシック”, YuGothic, “Hiragino Kaku Gothic ProN”, Meiryo, sans-serif;
}

.new-entry {
    border-left: 4px solid #ecb630;
}

.new-title {
    vertical-align: text-bottom;
    margin : 10px 15px;
}

.new-entry .new-title a {
    text-decoration: none;
    margin-right: 20px;
}
