<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/sidemenu.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/toppage.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/article.css}" />
<link rel="stylesheet" type="text/css" th:href="@{${articleBean.articleCss}}">
</head>
<body>
<header class="header" ></header>
<main class="main-inner">
    <div class="ArticlePage">
        <th:block th:insert="common/header :: headerFragment"></th:block>
		<div class="Article">
		    <th:block th:replace="${articleBean.articleHtml}"></th:block>
		</div>
    </div>
	<th:block th:insert="common/sidemenu :: sidemenuFragment"></th:block>
</main>
<br clear=left>
<div class="footer">
<br>
</div>
</body>
</html>
