<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Cache-Control" content="no-cache">
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/sidemenu.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/toppage.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/article.css}" />
</head>
<body>
<th:block th:insert="common/leftmenu :: leftsidemenuFragment"></th:block>
<main class="main-inner">
    <div class="mainarea">
	    <div class="menulist">
			<div class="menu" th:each="article: ${articleList}">
				<th:block th:object="${article.articleMNG}">
					<a th:href="@{'/article?get='+${article.encParam}}">
						<span class="title">
						  <span th:text="*{title}"></span>
						</span>
						<span class="remarks">
                          <span class="cate" th:text="'カテゴリ：'+*{category_name}"></span>
                          <span class="cate" th:text="'言語：'+*{language_name}"></span>
                          <span class="time" th:text="*{REG_DATE}"></span>
						</span>
					</a>
				</th:block>
			</div>
	    </div>
    </div>
    <th:block th:insert="common/rightmenu :: rightsidemenuFragment"></th:block>
</main>
</body>
</html>