<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/article.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/sidemenu.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/topmenu.css}" />
</head>
<body>
<header class="header" th:insert="common/header :: headerBody"></header>
<div class="topmenu" th:insert="common/topmenu :: topBody"></div>
<main class="main-inner">
	<div class="Article" th:insert="common/article :: articleBody"></div>
	<div class="rightmenu" th:insert="common/sidemenu :: sideBody"></div>
</main>
<br clear=left>
<div class="footer">
<br>
</div>
</body>
</html>