@charset "UTF-8";
.actegory {
	clear: none;
    background-color: #FFF;
	width: 1180px;
	height : 50px;
	text-align: center;
	font-size: 100%;
	border-color: #666;
	margin : 0px auto;
	padding: 0px;
	font-family: Verdana, “游ゴシック”, YuGothic, “Hiragino Kaku Gothic ProN”, Meiryo, sans-serif;
}
.actegory ul, .link {
    margin : 0 auto;
    float: left;
    display:table;
}
.actegory ul li {
    display:table-cell;
}