@charset "UTF-8";
/* ページ全体 */
.page {
    margin : auto;
    font-size: 96%;
    clear: none;
    color:#660;
    background-color:#f0f8ff;
    font-family:Verdana, “游ゴシック”, YuGothic, “Hiragino Kaku Gothic ProN”, Meiryo, sans-serif;
    text-align: center;
    background-color: #FFF;
    height: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}
h1 {
clear:left;
color:#630;
font-size:105%;
height: 50px;
line-height: 50px;
font-weight: bold;
border: 1px solid #00bfff;
border-top: 4px solid #1e90ff;
margin: 10px;
padding: 10px;
}
h2 {
background-color: #FFF;
font-size: 110%;
text-align: left;
text-indent:1em;
border-left-color: #00ffff;
line-height: 40px;
margin: 5px;
padding: 0px;
font-weight: bold;
border-left-style: double;
width: 600px;
}
h3 {
background-color: #FFF;
font-size: 100%;
text-align: left;
text-indent:1em;
color: #630;
line-height: 35px;
font-weight: bold;
border-bottom-style: dotted;
width: 600px;
margin-top: 60px;
margin-right: 5px;
margin-bottom: 10px;
margin-left: 0px;
padding: 0px;
}
