@charset "UTF-8";
.header {
    text-align: center;
    background : #6495ed;
    height: 60px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
	color:#ffffff;
    font-size: 20px;
    top : 0;
}
.Toptitle {
    float: left;
    width: 100%;
    text-align:left;
}
.new-entry {
    border-bottom: 4px solid #1e90ff;
    margin : 20px 0px;
}
.new-title {
    font-style: italic;
    vertical-align: text-bottom;
}
.new-entry .new-title a {
    text-decoration: none;
    margin-right: 20px;
}
