@charset "UTF-8";
.header {
    text-align: center;
    background : linear-gradient(#0000cd, #4169e1 30%, #000080 85%, #191970 95%);
    height: 80px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
	color:#ffffff;
    font-size: 20px;
}
.header .title {
   padding-top: 10px;
}
