@charset "UTF-8";
.rightmenu {
	float: right;
	clear: none;
	width: 22%;
	height: auto;
	text-align: center;
	font-size: 100%;
	border-color: #666;
	margin : 5px 0px;
	padding: 0px;
	font-family: Verdana, “游ゴシック”, YuGothic, “Hiragino Kaku Gothic ProN”, Meiryo, sans-serif;
}
.submenu {
    background-color: #ffffff;
	font-size: 100%;
	height: auto;
	text-align: center;
	width: 100%;
	color: #c0c0c0;
    margin-bottom: 15px;
}
.submenu .link {
    list-style-type: none;
	width: 100%;
    margin: 0px;
    padding: 0px;
	text-decoration: none;
}
.submenu .link a {
    padding : 10px 0px;
    text-decoration: none;
    display: block;
    color: #030;
}
.submenu .link a:hover {
	color: #FFC;
	background-color: #add8e6;
}
.subinfo {
	font-size: 100%;
	height: auto;
	text-align: center;
	width: 100%;
	color: #c0c0c0;
	padding: 0px;
	position: sticky;
	top : 0;
}
.subinfo .link {
    background-color: #ffffff;
	width: 100%;
	font-size: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
	text-decoration: none;
}
.subinfo .link a {
    padding : 10px 0px;
    text-decoration: none;
    display: block;
    color: #030;
}
.subinfo .link a:hover {
	color: #FFC;
	background-color: #add8e6;
}