<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
    <div class="Article" th:fragment="articleBody">
        <div class="Large">
            <h1 id="Title" th:text="${title}"></h1>
            <div class="LargeText" >
                <p th:utext="${largeText}"></p>
            </div>
        </div>
        <div class="medium" th:each="medium: ${mediumList}">
			<h2 th:text="${medium.item}"></h2>
			<div>
	            <p th:text="*{text}"></p>
			</div>
	        <div class="Small" th:each="small: ${smallList}" >
	            <h3 th:text="${Small.item}"></h3>
	            <table class="table" summary="会社概要">
	                <tr>
	                    <td>社名</td>
	                    <td>会社名</td>
	                </tr>
	                <tr>
	                    <td>店舗所在地</td>
	                    <td>住所</td>
	                </tr>
	                <tr>
	                    <td>TEL/FAX</td>
	                    <td>TEL： 　FAX：</td>
	                </tr>
	                <tr>
	                    <td>営業時間</td>
	                    <td>月～金　9：00～17：00</td>
	                </tr>
	            </table>
	            <br clear=left>
	        </div>
		</div>
    </div>
</body>
</html>