<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<th:block th:fragment="sidemenuFragment">
		<div class="submenu">
	        <div class="link" th:each="menu: ${sideMenuList}">
				<a th:href="${menu.linkAction}" th:text="${menu.linkText}"></a>
			</div>
		</div>
		<div class="subinfo">
	        <div class="link" th:each="info: ${sideInfoist}">
				<a th:href="'#'+${info.linkId}" th:text="${info.linkText}"></a>
			</div>
		</div>
	</th:block>
</body>
</html>