<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>blog</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/mobile/common.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/mobile/header.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/mobile/sidemenu.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/mobile/toppage.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/mobile/article.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/mobile/content.css}" />
  </head>
  <body>
    <div id="app" class="app"></div>
    <script th:src="@{/js/client.min.js}"></script>
  </body>
</html>